{% include 'base/CDN.html' %}

{% include 'base/header.html' %}

{% block content %}

{% load static %}



<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-12">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="{% static 'media/MR.jpg'%}"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;height: 500px; width: 600px;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                    <center><h1 style="font-family:cursive"> Doctor Wholesale Deals</h1></center>
                    <br>
                    <center>
                    <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <table style="border-collapse: separate; border-spacing: 20px; font-family:cursive;">
                    {{pf}}
                    <br>
                    </table>
                    <br>    
                    <button type="submit">Add</button>

                  </form>
                </center>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



{% endblock  %}

<!-- Restricting the order quantity to 0 -->
<script>
 
  function enforceMinValue() {
      var quantityInput = document.getElementById("id_Quantity_Ordered");
      if (quantityInput.value < 0) {
          quantityInput.value = 0;
      }
  }

  document.getElementById("id_Quantity_Ordered").addEventListener("change", enforceMinValue);
</script>